<!DOCTYPE html>

<html lang="en">

<head>

	<title> Falcon Fitness Center </title>
	
	<meta charset="utf-8
	
	<style>
	h1{backround-color: black; color:white;}
	</style>

	<link href="css/externalstylesheetFCC.css"rel="stylesheet
</head>

<body>
<div id="container">
<div id="container">
<header>
	<a href="index.html"><img scr="images/FFCLogo.png"alt="Falcon Fitness Center Logo" height="227" width="571"></a> <br>
	
	
</header>

<nav>

	<a href="index.html">Home</a> &nbsp; &nbsp;

    <a href="about.html">About Us</a> &nbsp; &nbsp;

    <a href="classes.html">Classes</a> &nbsp; &nbsp;

    <a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;

    <a href="contact.html">Contact Us</a>
	
</nav>

<main>
<h1>Weights</h1>
	<img class="equip" scr="images/Weights1.jfif" alt="Picture of Weights" height="186" width="279">

</main>

<footer>

	&copy;Copyright 2022 All Rights Reserved. <br>
	<a
	href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>

</footer>
</div>
</body>

</html>
	
	